* {
    font: 1rem/2.5rem var(--font-family);
}

.blog__navbar {
    display: flex;
    align-items: center;
    padding: 2rem;

    z-index: 10;
    position: relative;
}

.blog__navbar-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.blog__navbar-title_name {
    font: 620 2rem var(--font-family);
}
.blog__navbar-title_desc {
    font: 1.25rem var(--font-family);
}

.blog__navbar-menu {
    position: relative;
}

.blog__navbar-menu svg {
    cursor: pointer;
    margin-right: 1rem;
}



.blog__modal {
    position: absolute;
    background-color: var(--color-modal);
    top: 3rem;
    right: 1rem;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
}

.blog__modal-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem .5rem 1rem;
}

.blog__modal-input {
    background-color: var(--color-bg);
    color: var(--color-subtext);
    padding: .25rem 1rem;
    margin-bottom: .5em;
    width: 27rem;
    border: none;
}

.blog__modal-container img {
    border: dashed 3px var(--color-bg);
    padding: 3px;
}

.blog__modal-container input[type=file] {
    color: var(--color-subtext);
    margin-bottom: .5rem;
}

.blog__modal-button,
.blog__modal-button-secondary,
.blog__modal-button--disabled {
    color: var(--color-buttontext);
    border: none;
    margin-bottom: .5rem;
    cursor: pointer;
}
.blog__modal-button {
    background-color: var(--color-primary);
}
.blog__modal-button-secondary {
    background-color: var(--color-secondary);
}
.blog__modal-button--disabled {
    cursor: default;
}

.blog__modal-log {
    width: 27rem;
    margin: 0 1rem;
    text-align: right;
}