@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --color-bg: #000000;
  --color-highlight : #EE557A;

  --color-modal: rgba(88, 88, 88, 0.8);
  --color-shade: rgba(24, 24, 24, 0.7);

  --color-text: #fff;
  --color-subtext: #A7A7A7;
  --color-buttontext: #424242;
}